/* base styles */
html {
  scroll-behavior: smooth; }

body {
  margin: 0; }

/* padding for my h1 in my header section */
.h1-padding {
  margin-top: 150px;
  animation-name: transition;
  animation-duration: 3s;
  animation-iteration-count: 1; }

@keyframes transition {
  from {
    margin-top: -200px; }
  to {
    margin-top: 150px; } }
/* styling my icons */
.icon {
  font-size: 1.2em; }

/* icon colour */
.icon-colour01 {
  color: #000000;
  text-shadow: none; }

.icon-colour02 {
  color: white;
  text-shadow: none; }

/* a box I created to seperate my data */
.box {
  padding: 95px;
  height: 500px; }

/* different divisions for colours */
#education,
#projects,
#contactMe {
  margin: 0 auto;
  background-color: black;
  color: white; }

.h1-size {
  padding-right: 125px; }

.h3-style {
  font-size: 1em; }

/* my icons in my contact section */
.icons {
  font-size: 3em;
  padding-right: 20px; }

.icons:hover {
  color: #ffff00;
  transition: 0.2s ease-in-out; }

#contact a {
  text-shadow: none;
  text-decoration: none;
  color: white;
  text-transform: none; }

#contact a:hover {
  color: red; }

/* styling the header */
.header-container {
  font-family: 'Star Jedi', sans-serif;
  font-size: 1.6em;
  margin: 0%;
  text-align: center;
  background-color: #000000;
  background-image: url(../images/stars.jpeg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: #ffe600;
  height: 100vh;
  animation-name: transitions;
  animation-duration: 2s;
  animation-iteration-count: 1; }

/* styling the navigation bar */
.myNav {
  overflow: hidden;
  background-image: url(../images/stars.jpeg);
  background-size: cover;
  position: fixed;
  top: -70px;
  width: 100%;
  transition: top .3s; }

.myNav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: .6em; }

.myNav .icon {
  display: none; }

.myNav a:hover {
  background-color: yellow;
  color: #000000;
  transition: .5s; }

nav ul,
li,
a {
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px black;
  list-style-type: none;
  color: white;
  display: inline-block;
  text-decoration: none;
  font-size: 0.8em;
  margin: 10px 5px;
  padding-right: 10px; }

/* navigation styling on hover */
li a:hover {
  color: #ffe600;
  transition: .5s; }

/* styling the main content */
.main-content {
  font-family: 'Staatliches', sans-serif;
  text-align: center;
  height: 100%;
  font-size: 1.5em; }

/* education */
/* creating a grid-container to seperate secondary and tertiary education */
.data {
  grid-area: data; }

.grid-container {
  display: grid;
  grid-template-areas: 'data data';
  grid-gap: 30px;
  text-align: justify;
  font-size: 1em; }

.grid-container > div {
  background-color: rgba(245, 245, 220, 0);
  padding: 0 20px;
  margin: 0 20px; }

/* project images */
.images {
  width: 280px;
  height: 280px;
  padding: 50px 10px 10px 10px; }

/* styling the contact page  */
#contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center; }

.container {
  display: grid;
  grid-template-areas: "header header header" "main main main"; }

.header-container {
  grid-area: header; }

.main-content {
  grid-area: main; }

/* media queries */
/* responsive design */
/* ****
****
**** */
@media only screen and (max-width: 1218px) {
  /* styling the header */
  .header-container {
    font-size: 1.4em;
    color: #ffff00;
    padding: 15px 8px;
    height: 600px; }

  /* animations for my header */
  @keyframes transitions {
    from {
      font-size: 0em;
      text-shadow: 20px 20px blue; }
    to {
      font-size: 1.4em;
      text-shadow: none; } }
  /* padding for my h1 in my header section */
  .h1-padding {
    padding-top: 115px; }

  /* styling my icons */
  .icon {
    font-size: 1em; }

  /* styling the main content */
  .main-content {
    text-align: center;
    padding: 2px 14px;
    height: 100%;
    font-size: 1.2em; }

  /* project images */
  .images {
    width: 150px;
    height: 150px;
    padding: 20px 5px 5px 5px; } }
@media only screen and (max-width: 848px) {
  .header-container {
    font-size: 1.2em;
    padding: 14px 6px;
    height: 580px; }

  /* animations for my header */
  @keyframes transitions {
    from {
      font-size: 0em;
      text-shadow: 16px 16px blue; }
    to {
      font-size: 1.2em;
      text-shadow: none; } }
  /* padding for my h1 in my header section */
  .h1-padding {
    padding-top: 110px; }

  /* styling my icons */
  .icon {
    font-size: 0.9em; }

  /* styling the navigation bar */
  nav ul,
  li,
  a {
    font-size: 0.8em;
    margin: 9px 4px;
    padding-right: 8px; }

  li a:hover {
    font-size: 1em; }

  /* styling the main content */
  .main-content {
    text-align: center;
    padding: 2px 16px;
    height: 100%;
    font-size: 1em; }

  /* a box I created to seperate my data */
  .box {
    padding: 85px;
    height: 480px; }

  /* education */
  /* creating a grid-container to seperate secondary and tertiary education */
  .h1-size {
    padding-right: 125px; }

  /* project images */
  .images {
    width: 120px;
    height: 120px;
    padding: 20px 2px 2px 2px; }

  /* styling the contact page  */
  .h3-style {
    font-size: 0.8em; }

  .icons {
    font-size: 1em; } }
@media only screen and (max-width: 856px) {
  .header-container {
    font-size: 1.1em; }

  /* animations for my header */
  @keyframes transitions {
    from {
      font-size: 0em;
      text-shadow: 16px 16px blue; }
    to {
      font-size: 1.1em;
      text-shadow: none; } }
  /* styling the navigation bar */
  nav ul,
  li,
  a {
    font-size: 0.8em;
    margin: 12px 4px;
    padding-right: 6px; } }
@media only screen and (max-width: 670px) {
  .header-container {
    font-size: 1em;
    padding: 12px 4px; }

  @keyframes transitions {
    from {
      font-size: 0em;
      text-shadow: 16px 16px blue; }
    to {
      font-size: 1em;
      text-shadow: none; } }
  .h1-size {
    padding-right: 0px; }

  .box {
    padding: 82px;
    height: 475px; }

  .grid-container {
    display: list-item;
    list-style: none;
    text-align: justify;
    font-size: 1em; }

  .grid-container > div {
    background-color: rgba(245, 245, 220, 0);
    padding: 0 20px;
    margin: 0 20px; } }
@media only screen and (max-width: 604px) {
  .header-container {
    font-size: 0.9em;
    padding: 10px 3px; }

  @keyframes transitions {
    from {
      font-size: 0em;
      text-shadow: 16px 16px blue; }
    to {
      font-size: 0.9em;
      text-shadow: none; } }
  nav ul,
  li,
  a {
    font-size: 0.9em;
    margin: 10px 2px;
    padding-right: 4px; } }
@media only screen and (max-width: 425px) {
  .header-container {
    font-size: 0.8em;
    animation-name: none;
    animation-duration: 3s;
    animation-iteration-count: 1;
    height: 410; }

  @keyframes transitions {
    from {
      display: none;
      font-size: 0em;
      text-shadow: 16px 16px blue; }
    to {
      display: none;
      font-size: 0.8em;
      text-shadow: none; } }
  ul {
    padding-left: 20px; }

  .main-content {
    font-size: 0.9em; }

  /* a box I created to seperate my data */
  .box {
    padding: 0x;
    height: 475px; }

  #about {
    padding: 30px 40px 5px 35px; }

  #education {
    padding-top: 30px 60px 40px 50px; }

  #skills {
    padding-top: 0px;
    margin-top: 65px;
    height: 210px; }

  #experience {
    margin-top: 0px;
    padding-top: 40px;
    height: 146px; }

  #projects {
    padding: 10px;
    margin-top: 0px; }

  #contactMe {
    height: 220px;
    font-size: 0.9em;
    padding: 30px 30px 40px 25px; }

  .icons {
    font-size: 2em; } }
@media only screen and (max-width: 375px) {
  .header-container {
    font-size: 0.7em;
    height: 390px; }

  #education {
    padding-top: 25px;
    padding-bottom: 15px; }

  #contactMe {
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 20px; }

  .h1-padding {
    padding-top: 80px; }

  ul {
    padding-left: 0px; }

  #about {
    padding-left: 25px;
    padding-right: 25px;
    height: 380px; }

  .main-content {
    font-size: 0.8em; } }
@media only screen and (max-width: 320px) {
  .header-container {
    font-size: 0.7em;
    height: 385px; }

  #about {
    padding-top: 20px; }

  #education {
    padding: 20px 35px 0px 40px; }

  #experience {
    padding: 40px 45px 40px 15px; }

  #contactMe {
    padding-top: 20px;
    padding-bottom: 15px; }

  .h1-padding {
    padding-top: 60px; }

  #projects {
    padding-left: 60px;
    padding-right: 54px;
    height: 535px; }

  .images {
    width: 100px;
    height: 100px; } }

/*# sourceMappingURL=main.css.map */
