/* base styles */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gamja Flower', cursive;
    margin: 0;
    padding: 0;
}

/* styling the header */

.header {
    font-family: 'Cabin', sans-serif;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    text-shadow: 2px 2px blue;
}

/* styling the nav bar */

.nav ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    width: 13%;
    height: 100%;
    background-color: #505050;
    position: absolute;
    font-size: 1.5em;
    overflow: auto;
}

li a {
    list-style-type: none;
    font-family: 'Cabin', sans-serif;
    display: block;
    color: #000000;
    padding: 25px;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 2px 2px rgb(0, 0, 0);
}

a:hover {
    color: rgb(255, 255, 255);
    background-color: black;
    transition: ease-in 0.5;
    -webkit-transition: ease-in 0.5s;
}

li a:active {
    background-color: black;
    color: red;
}

/* the button I created for downloading my cv */

.btn {
    background-color: rgb(0, 0, 0);
    margin: 170px;
}

.btn a{
    background-color: black;
    color: rgb(0, 0, 255);
    text-decoration: none;  
}

.btn a:hover {
    color: white;
}

/* parallax styling for all the background images */

.bg {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* styling the main content */

.main-content {
    margin-left: 14%;
    padding: 2px 16px;
    height: 100%;
    font-size: 1.3em;
    text-shadow: 0.5px 1px red;
}

/* education */

/* creating a grid-container to seperate secondary and tertiary education */

.data {
    grid-area: data;
}


.grid-container {
    display: grid;
    grid-template-areas: 'data data';
    grid-gap: 10px;

}

.grid-container>div {
    background-color: rgba(245, 245, 220, 0);
    padding: 0 20px ;
    margin: 0 20px ;

}

/* styling the contact page  */

#contact {
    text-shadow: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    padding-top: 200px;
}

#contact a {
    text-decoration: none;
    color: black;
    background-color: white;
}

#contact a:hover {
    color: red;
}

footer {
    width: 100%;
    height: 10%;
    background-color: #000000;
}





