/* base styles */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

/* styling the header */

.header {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
}

/* styling the nav bar */

.nav ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    width: 17%;
    height: 100%;
    background-color: #505050;
    position: absolute;
    font-size: 1.5em;
    overflow: auto;
}

li a {
    display: block;
    color: #000000;
    padding: 20px 0 15px 22px;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: black;
    transition: ease-in 0.3;
    -webkit-transition: ease-in 0.3s;
}

li a:active {
    background-color: black;
    color: red;
}

.btn {
    background-color: rgba(0, 0, 255, 0);
    margin: 170px;
    color: #000000;
}

.bg {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* styling the main content */

.main-content {
    margin-left: 18%;
    padding: 2px 16px;
    height: 100%;
    font-size: 1.3em;
    text-shadow: 0.5px 1px black;
}

/* education */

/* creating a grid-container to seperate secondary and tertiary education */

.data {
    grid-area: data;
}


.grid-container {
    display: grid;
    grid-template-areas: 'data data';
    grid-gap: 10px;

}

.grid-container>div {
    background-color: rgba(245, 245, 220, 0);
    padding: 0 20px ;
    margin: 0 20px ;

}

/* skills */

.skills {
    padding: 112px;
}

footer {
    width: 100%;
    height: 10%;
    background-color: #000000;
}


