/* base styles */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    padding: 0%;
    /* background-image: url(../images/pexels-photo-1624254.jpeg); */
    height: 100%;
    background-color: slategray;
}

/* styles for my header */

.header-container {
    color: white;
    text-align: center;
    width: 100%;
    height: 600px;
    background-image: url(../images/videoblocks-business-man-working-and-writing-in-laptop-on-office-desk-background-hands-top-view-slow-motion-red-epic_rdwdrtwl3x_thumbnail-full01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 1.5em;
    text-shadow: 1px 3px 2px black;
}

#my-name {
    margin-bottom: 0;
    font-family: 'Didact Gothic', sans-serif;
}

#jwd {
    margin-top: 0;
}

/* styling for a dropdown nav */

.btn {
    background-color: rgba(0, 0, 0, 0.226);
    color: red;
    padding: 20px;
    position: fixed;
    font-size: 0.6em;
    margin-top: 25px;
    margin-left: 5px;
    border: none;
}


.dropdown {
    position: relative;
    display: inline-block;
}

/* styling the content of the navbar */

.content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.582);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.content a {
    color:  #ff0000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

a {
    font-size: 1.5em;
    text-decoration: none;
    padding: 10px;
}

/* styling the nav on hover */

.content a:hover {
    background-color: #00ffff ;
}

.dropdown:hover 
.content {
    display: table-footer-group;
}

.content a:active {
    background-color: red;
    color: aqua;
}

.dropdown:hover
 .dropbtn {
     background-color: #00ffff;
}

/* hamburger nav bar */

.menu {
    width: 35px;
    height: 5px;
    background-color: #ff0000;
    margin: 6px 0;
}

/* styling my images */

.image1 {
    width: 82px;
    height: 148px;
    transform: skewX(3deg);
    float: left;
    padding-left: 310px;
    -webkit-transition: ease-in 1s;
    transition: ease-in 1s;
}

.image1:hover {
    width: 220px;
    height: 220px;
    -webkit-transition: width 2s, height 2s;
    transition: width 2s, height 2s;
}

.html-logo,
.css-logo {
    width: 100px;
    height: 100px;
}

/* styling the main content */

.main-container {
    margin: 0 auto;
    padding: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/* styling the sub-content */

.sub-content {
    color: black;
    text-align: center;
    font-style: normal;
    font-size: x-large;
    /* border-radius: 50px; */
    background-color: rgb(255, 255, 255);
    border: 100px solid black;
    margin: 5%;
    padding: 0%;
}

/* creating a grid-container to seperate secondary and tertiary education */

.data {
    grid-area: data;
}


.grid-container {
    display: grid;
    grid-template-areas: 'data data';
    grid-gap: 10px;

}

.grid-container>div {
    background-color: rgba(245, 245, 220, 0);
    padding: 0 20px ;
    margin: 0 20px ;

}

/* styling the footer content */

.footer-container {
    color: black;
    text-align: center;
    /* border-radius: 50px; */
}

