.container {
    display: grid;
    grid-template-areas: "header header header"
                         "main main main"  
}

.header-container {
    grid-area: header;
}

.main-content {
    grid-area: main;
}
